{% extends 'myblog/base.html' %}

{% load staticfiles %}

<html>
    <head>
        <title>Shiv Blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/myblog.css' %}">
            <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
        <body>
            <div class="page-header">
            <b><h1><a href="/">Eat - Drink - Code</a></h1></b>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% for post in posts %}
                            <div class="post">
                                <div class="date">
                                    <p>published: {{ post.published_date }}</p>
                                </div>
                                <h1 style="font-family: arial"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                                <pre style="width:1250px"><code class="language-html"><b><p>{{ post.text }}</p></b><br/><br/></code></pre>
                                <pre><code class="language-css"> <p>{{ post.code }}</p></code></pre> 
                            </div>
                        {% endfor %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            
        </body>
</html>